@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  clear: both; }

.clearfix {
  zoom: 1; }

/**loading页面动画**/
@-webkit-keyframes steps {
  to {
    width: 100%; } }
@keyframes steps {
  to {
    width: 100%; } }
@-webkit-keyframes bearRide {
  10% {
    -webkit-transform: translateX(-0.8125rem) translateY(-0.3125rem);
            transform: translateX(-0.8125rem) translateY(-0.3125rem); }
  20% {
    -webkit-transform: translateX(-1.625rem) translateY(0.3125rem);
            transform: translateX(-1.625rem) translateY(0.3125rem); }
  30% {
    -webkit-transform: translateX(-2.4375rem) translateY(-0.3125rem);
            transform: translateX(-2.4375rem) translateY(-0.3125rem); }
  40% {
    -webkit-transform: translateX(-3.25rem) translateY(0.3125rem);
            transform: translateX(-3.25rem) translateY(0.3125rem); }
  50% {
    -webkit-transform: translateX(-4.0625rem) translateY(-0.3125rem);
            transform: translateX(-4.0625rem) translateY(-0.3125rem); }
  60% {
    -webkit-transform: translateX(-4.875rem) translateY(0.3125rem);
            transform: translateX(-4.875rem) translateY(0.3125rem); }
  70% {
    -webkit-transform: translateX(-5.6875rem) translateY(-0.3125rem);
            transform: translateX(-5.6875rem) translateY(-0.3125rem); }
  80% {
    -webkit-transform: translateX(-6.5rem) translateY(0.3125rem);
            transform: translateX(-6.5rem) translateY(0.3125rem); }
  90% {
    -webkit-transform: translateX(-7.3125rem) translateY(-0.3125rem);
            transform: translateX(-7.3125rem) translateY(-0.3125rem); }
  100% {
    -webkit-transform: translateX(-8.125rem) translateY(0.3125rem);
            transform: translateX(-8.125rem) translateY(0.3125rem); } }
@keyframes bearRide {
  10% {
    -webkit-transform: translateX(-0.8125rem) translateY(-0.3125rem);
            transform: translateX(-0.8125rem) translateY(-0.3125rem); }
  20% {
    -webkit-transform: translateX(-1.625rem) translateY(0.3125rem);
            transform: translateX(-1.625rem) translateY(0.3125rem); }
  30% {
    -webkit-transform: translateX(-2.4375rem) translateY(-0.3125rem);
            transform: translateX(-2.4375rem) translateY(-0.3125rem); }
  40% {
    -webkit-transform: translateX(-3.25rem) translateY(0.3125rem);
            transform: translateX(-3.25rem) translateY(0.3125rem); }
  50% {
    -webkit-transform: translateX(-4.0625rem) translateY(-0.3125rem);
            transform: translateX(-4.0625rem) translateY(-0.3125rem); }
  60% {
    -webkit-transform: translateX(-4.875rem) translateY(0.3125rem);
            transform: translateX(-4.875rem) translateY(0.3125rem); }
  70% {
    -webkit-transform: translateX(-5.6875rem) translateY(-0.3125rem);
            transform: translateX(-5.6875rem) translateY(-0.3125rem); }
  80% {
    -webkit-transform: translateX(-6.5rem) translateY(0.3125rem);
            transform: translateX(-6.5rem) translateY(0.3125rem); }
  90% {
    -webkit-transform: translateX(-7.3125rem) translateY(-0.3125rem);
            transform: translateX(-7.3125rem) translateY(-0.3125rem); }
  100% {
    -webkit-transform: translateX(-8.125rem) translateY(0.3125rem);
            transform: translateX(-8.125rem) translateY(0.3125rem); } }
/**welcome页面动画**/
@-webkit-keyframes grass1 {
  to {
    height: 12.375rem; } }
@keyframes grass1 {
  to {
    height: 12.375rem; } }
@-webkit-keyframes grass2 {
  from {
    -webkit-transform: scale(2, 1);
            transform: scale(2, 1); }
  to {
    opacity: 1; } }
@keyframes grass2 {
  from {
    -webkit-transform: scale(2, 1);
            transform: scale(2, 1); }
  to {
    opacity: 1; } }
@-webkit-keyframes trees {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 1; }
  90% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    opacity: 1; }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1; } }
@keyframes trees {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 1; }
  90% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    opacity: 1; }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1; } }
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-webkit-keyframes upAndDown {
  from {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%); }
  to {
    -webkit-transform: none;
            transform: none; } }
@keyframes upAndDown {
  from {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%); }
  to {
    -webkit-transform: none;
            transform: none; } }
@-webkit-keyframes upToDown {
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  100% {
    opacity: 1; } }
@keyframes upToDown {
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  100% {
    opacity: 1; } }
@-webkit-keyframes smallToBig {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  80% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 1; }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1; } }
@keyframes smallToBig {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  80% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 1; }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1; } }
/**轮播页面文字特效**/
@-webkit-keyframes right2left {
  from {
    -webkit-transform: translateX(80%);
            transform: translateX(80%); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }
@keyframes right2left {
  from {
    -webkit-transform: translateX(80%);
            transform: translateX(80%); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }
@-webkit-keyframes height2full {
  to {
    height: 100%; } }
@keyframes height2full {
  to {
    height: 100%; } }
/**page1页面动画**/
@-webkit-keyframes legBack {
  to {
    -webkit-transform: none;
            transform: none; } }
@keyframes legBack {
  to {
    -webkit-transform: none;
            transform: none; } }
@-webkit-keyframes shake {
  25% {
    -webkit-transform: translate(4%, 0);
            transform: translate(4%, 0); }
  50% {
    -webkit-transform: translate(0, -4%);
            transform: translate(0, -4%); }
  75% {
    -webkit-transform: translate(-4%, 0);
            transform: translate(-4%, 0); }
  100% {
    -webkit-transform: translate(0, 4%);
            transform: translate(0, 4%); } }
@keyframes shake {
  25% {
    -webkit-transform: translate(4%, 0);
            transform: translate(4%, 0); }
  50% {
    -webkit-transform: translate(0, -4%);
            transform: translate(0, -4%); }
  75% {
    -webkit-transform: translate(-4%, 0);
            transform: translate(-4%, 0); }
  100% {
    -webkit-transform: translate(0, 4%);
            transform: translate(0, 4%); } }
@-webkit-keyframes rotateAndOut {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%; }
  20% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 1; }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 1; }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 1; }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 0; } }
@keyframes rotateAndOut {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%; }
  20% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 1; }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 1; }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 1; }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 0; } }
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%; }
  90% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 1; } }
@keyframes rotateIn {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%; }
  90% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    opacity: 1; } }
@-webkit-keyframes left2Right {
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }
@keyframes left2Right {
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }
@-webkit-keyframes rotateText {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom; }
  20% {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 1; }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 1; }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 1; }
  75% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 0; } }
@keyframes rotateText {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom; }
  20% {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 1; }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 1; }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 1; }
  75% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 0; } }
@-webkit-keyframes rotateTextNoOut {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom; }
  50% {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 1; } }
@keyframes rotateTextNoOut {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom; }
  50% {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    opacity: 1; } }
/**page2页面动画**/
@-webkit-keyframes bottom2Top {
  from {
    -webkit-transform: translateY(120%);
            transform: translateY(120%); }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1; } }
@keyframes bottom2Top {
  from {
    -webkit-transform: translateY(120%);
            transform: translateY(120%); }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1; } }
@-webkit-keyframes top2Bottom {
  from {
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%); }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1; } }
@keyframes top2Bottom {
  from {
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%); }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1; } }
@-webkit-keyframes top2BottomHide {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translateY(100%) scale(1.5, 1.5);
            transform: translateY(100%) scale(1.5, 1.5);
    opacity: 0; } }
@keyframes top2BottomHide {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translateY(100%) scale(1.5, 1.5);
            transform: translateY(100%) scale(1.5, 1.5);
    opacity: 0; } }
@-webkit-keyframes shakeHandLeft {
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }
  100% {
    -webkit-transform: none;
            transform: none; } }
@keyframes shakeHandLeft {
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }
  100% {
    -webkit-transform: none;
            transform: none; } }
@-webkit-keyframes shakeHandRight {
  25% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0; }
  75% {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0; }
  100% {
    -webkit-transform: none;
            transform: none; } }
@keyframes shakeHandRight {
  25% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0; }
  75% {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0; }
  100% {
    -webkit-transform: none;
            transform: none; } }
/**page5页面动画**/
@-webkit-keyframes snowDown {
  0% {
    opacity: 1; }
  60% {
    opacity: .3; }
  to {
    -webkit-transform: translateY(1500%) translateX(-100%);
            transform: translateY(1500%) translateX(-100%);
    opacity: 0; } }
@keyframes snowDown {
  0% {
    opacity: 1; }
  60% {
    opacity: .3; }
  to {
    -webkit-transform: translateY(1500%) translateX(-100%);
            transform: translateY(1500%) translateX(-100%);
    opacity: 0; } }
@-webkit-keyframes bgDown {
  0% {
    opacity: 1; }
  60% {
    opacity: .3; }
  to {
    -webkit-transform: translateY(1500%) translateX(100%);
            transform: translateY(1500%) translateX(100%);
    opacity: 0; } }
@keyframes bgDown {
  0% {
    opacity: 1; }
  60% {
    opacity: .3; }
  to {
    -webkit-transform: translateY(1500%) translateX(100%);
            transform: translateY(1500%) translateX(100%);
    opacity: 0; } }
/**page6页面动画**/
@-webkit-keyframes giftAppear {
  from {
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 1; } }
@keyframes giftAppear {
  from {
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 1; } }
