// 引入 normalize
@import 'normalize.scss';
// 引入 swiper的 scss
@import '../lib/swiper/swiper.min.scss';
// 引入 base
@import 'base.scss';
// 设置 高度 100%
html, body {
  height: 100%;
  overflow: hidden;
}

// 为了 一会 使用的时候 有提示 写在 index页面中
//  计算尺寸函数
@function p2r($size) {
  @return ($size/32)*1rem;
}

// 设置图片居中
// background center
// 传入url 图片宽度即可
@mixin bgc ($url, $width) {
  background: url($url) no-repeat center /100% 100%;
  position: absolute;
    left: 50%; // 这里 使用margin-left来实现 左右居中目的是 为了 后面动画中 我们要使用 transform来改变元素
    margin-left: p2r(-$width/2);
  }

// 直接设置背景图 不考虑居中
// 传入 url即可
@mixin bg($url) {
  background: url($url) no-repeat center /100% 100%;
  position: absolute;
}

// 设置 尺寸
// 传入 宽度 高度
@mixin size($width, $height) {
  width: p2r($width);
  height: p2r($height);
}

// loading 动画加载页面
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background: #FFEBEA;
  .rider {
    @include size(154,
      121);
    @include bg('../img/loading/rider1_.png');
    top: p2r(233);
    right: p2r(108);
  }
  .progress {
    @include size(416,
      20);
    background-color: #FF2E46;
    border: 2px solid #452B2C;
    border-radius: p2r(20);
    position: absolute;
    top: p2r(354);
    left: 50%;
    margin-left: p2r(-416/2);
  }
  .info{
    @include size(220, 28);
    @include bgc('../img/loading/loading-txt.png',220);
    top: p2r(414);
  }
  .logo{
    @include size(162, 39);
    @include bgc('../img/loading/waimai-logo.png',162);
    bottom: p2r(130);
  }
  .copyright{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: p2r(80);
    color: #DD999F;
  }
}


/*
    为了可以走进度 进度条中 添加子元素
    */
    .loading {
      .progress {
        background-color: transparent;
        .step {
          width: 30%;
          height: 100%;
          background-color: #FF2947;
          right: 0;
          position: absolute;
        }
      }
    }

// 触发动画
.loading.animate{
  .step {
    animation: steps .5s linear forwards;
  }
  .rider {
    animation: bearRide .5s linear forwards;
  }
}

@keyframes steps {
  to {
    width: 100%;
  }
}

// 熊开车动画
@keyframes bearRide {
  10% {
    transform: translateX(p2r(-26*1)) translateY(p2r(-10));
  }
  20% {
    transform: translateX(p2r(-26*2)) translateY(p2r(10));
  }
  30% {
    transform: translateX(p2r(-26*3)) translateY(p2r(-10));
  }
  40% {
    transform: translateX(p2r(-26*4)) translateY(p2r(10));
  }
  50% {
    transform: translateX(p2r(-26*5)) translateY(p2r(-10));
  }
  60% {
    transform: translateX(p2r(-26*6)) translateY(p2r(10));
  }
  70% {
    transform: translateX(p2r(-26*7)) translateY(p2r(-10));
  }
  80% {
    transform: translateX(p2r(-26*8)) translateY(p2r(10));
  }
  90% {
    transform: translateX(p2r(-26*9)) translateY(p2r(-10));
  }
  100% {
    transform: translateX(p2r(-26*10)) translateY(p2r(10));
  }
}

//欢迎页面
.welcome{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background: deepskyblue;
  .info{
    @include size(397, 224);
    @include bgc('../img/page1/theme-title.png',397);
    top: p2r(42);
    .hello{
      @include size(75, 70);
      @include bg('../img/page1/hello.png');
      top: p2r(20);
      right: p2r(8);
    }
  }
  .cloud{
    @include size(640, 673);
    @include bg('../img/page1/clouds.png');
    bottom: p2r(0);
  }
  .grass1{
    @include size(640, 396);
    @include bg('../img/page1/grass1.png');
    left: 0;
    bottom: 0;
  }
  .grass2{
    @include size(640, 228);
    @include bg('../img/page1/grass2.png');
    right: 0;
    bottom: 0;
  }
  .trees{
    @include size(599, 71);
    @include bgc('../img/page1/trees.png',599);
    bottom: p2r(352);
    z-index: 1;
  }
  .rotate-btn-box{
    @include size(208, 208);
    @include bgc('../img/page1/circle1.png',208);
    bottom: p2r(86);
    .circle{
      @include size(208, 208);
      @include bgc('../img/page1/circle2.png',208);
    }
    .btn{
      @include size(124, 113);
      @include bgc('../img/page1/bear-btn-pre.png',124);
      top: p2r((208 - 113) / 2);
    }
  }
  .bear-box{
    position: absolute;
    @include size(167, 279);
    left: 50%;
    bottom: p2r(346);
    margin-left: p2r(-167/2);
    z-index: 2;
    .bear{
      width: 100%;
      height: 100%;
      @include bgc('../img/page1/rider2.png',167);
    }
    .smoke{
      @include size(114, 26);
      @include bgc('../img/page1/jet1.png',114);
      bottom: 0;
    }
  }
}

.welcome{
  .info{
    opacity: 0;
  }
  .hello{
    opacity: 0;
  }
  .grass1{
    height: p2r(10);
  }
  .grass2{
    opacity: 0;
  }
  .trees{
    opacity: 0;
  }
  .bear-box{
    opacity: 0;
  }
  .rotate-btn-box{
    opacity: 0;
    transform: scale(0);
  }
  .btn{
    opacity: 0;
  }
  .smoke{
    opacity: 0;
  }
}

.welcome.animate{
  .grass1{
    animation: grass1 .3s  forwards;
  }
  .grass2{
    animation: grass2 .4s .5s forwards;
  }
  .trees{
    animation: trees .5s 1s  forwards;
  }
  .rotate-btn-box{
    animation: samllToBig .5s 1.5s  forwards;
  }
  .circle{
    animation: rotate 1s infinite linear;
  }
  .btn{
    animation: samllToBig .5s 1.8s forwards;
  }
  .bear-box{
    animation: upToDown .5s 2s  forwards;
  }
  .bear{
    animation: upAndDown .5s 2.5s infinite;
  }
  .smoke{
    animation: samllToBig .5s 2.5s infinite;
  }
  .info{
    animation: upToDown .5s 2.5s  forwards;
  }
  .hello{
    animation: samllToBig .5s 3s forwards;
  }
}

//草地动画
@keyframes grass1{
  to{
    height: p2r(396);
  }
}
// 页面2 草2 动画 大-> 小
@keyframes grass2{
  from{
    transform: scale(2,1);
  }
  to{
    opacity: 1;
        // 用自己 默认的 transform
      }
    }
// 页面2 树动画
@keyframes trees{
  from{
    transform: translateY(-200%);
  }
  80%{
    transform: translateY(10%);
    opacity:1;
  }
  90%{
    transform: translateY(-10%);
    opacity:1;
  }
  100%{
    transform: none;
    opacity:1;
  }
}
@keyframes rotate {
  form{
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes upAndDown {
  from{
    transform: translateY(-5%);
  }
  to{
   transform: none;
 }
}

@keyframes upToDown {
  from{
    transform: translateY(-50%);
  }
  to{
    opacity: 1;
  }
}

@keyframes samllToBig {
  from {
    transform: scale(0,0);
  }
  to{
    transform: none;
    opacity: 1;
  }
}


//列表页面
.page-container{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

//公共标题
.title{
  position: absolute;
  top: p2r(32);
  left: p2r(32);
  padding-left: p2r(15);
  color: #fff;
  h3{
    font-size: p2r(64);
  }
  p{
    margin-top: p2r(24);
    font-size: p2r(24);
  }
  .line{
    width: p2r(5);
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// 轮播的页面1
.page1{
  background:#BE8651;
  .sphere{
    @include size(640, 356);
    @include bgc('../img/page2/sphere1.png',640);
    bottom: 0;
  }
  .bear{
    @include size(178, 134);
    @include bg('../img/page2/bear1.png');
    right: p2r(38);
    bottom: 0;
  }
  .scroll-page1{
    .bg{
      @include size(576, 573);
      @include bgc('../img/page2/bg1.png',576);
      bottom: p2r(252);
    }
    .person{
      @include size(439, 349);
      @include bgc('../img/page2/front1.png',439);
      bottom: p2r(290);
      z-index: 1;
      .files {
        @include size(85,50);
        position: absolute;
        left: p2r(27);
        bottom: p2r(104);
        background: url('../img/page2/papers.png') no-repeat bottom right;
        background-size: p2r(115) p2r(114);
        .paper1{
          @include size(86,26);
          position: absolute;
          left: p2r(-70);
          bottom: p2r(45);
          background: url('../img/page2/papers.png') no-repeat;
          background-position: 0 p2r(-32);
          background-size: p2r(115) p2r(114);
        }
        .paper2{
          @include size(64,20);
          position: absolute;
          right: p2r(0);
          bottom: p2r(80);
          background: url('../img/page2/papers.png') no-repeat;
          background-position: p2r(-45) 0;
          background-size: p2r(115) p2r(114);
        }
      }
    }
    .msg-box {
      @include bg('../img/page2/txt-bubbl.png');
      @include size(363, 119);
      bottom: p2r(140);
      right: p2r(140);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      .info {
        @include bg('../img/page2/txt-work.png');
        @include size(220, 30);
      }
    }
  }
  .scroll-page2{
    .bg{
      @include size(582, 520);
      @include bgc('../img/page2/bg2.png',582);
      bottom: p2r(252);
    }
    .person{
      @include size(436, 332);
      @include bgc('../img/page2/relax.png',436);
      bottom: p2r(270);
      z-index: 1;
      .leg1{
        @include size(113, 24);
        @include bg('../img/page2/leg1.png');
        left: p2r(195);
        bottom: p2r(110);
      }
      .leg2{
        @include size(85, 71);
        @include bg('../img/page2/leg2.png');
        left: p2r(193);
        bottom: p2r(120);
      }
    }
    .msg-box {
      @include bg('../img/page2/txt-bubbl.png');
      @include size(363, 119);
      bottom: p2r(140);
      right: p2r(140);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      .info {
        @include bg('../img/page2/txt-life.png');
        @include size(224, 31);
      }
    }
  }
  .scroll-page3{
    .bg{
      @include size(561, 516);
      @include bgc('../img/page2/bg3.png',561);
      bottom: p2r(252);
    }
    .person{
      @include size(503, 229);
      @include bgc('../img/page2/person.png',503);
      bottom: p2r(300);
      z-index: 1;
      .word1{
        @include bg('../img/page2/word1.png');
        @include size(92, 83);
        left: p2r(7);
        bottom: p2r(194);
      }
      .word2{
        @include bg('../img/page2/word2.png');
        @include size(77, 70);
        left: p2r(115);
        bottom: p2r(245);
      }
      .word3{
        @include bg('../img/page2/word3.png');
        @include size(115, 104);
        right: p2r(130);
        bottom: p2r(220);
      }
      .word4{
        @include bg('../img/page2/word4.png');
        @include size(79, 73);
        right: p2r(12);
        bottom: p2r(230);
      }
    }
    .msg-box {
      @include bg('../img/page2/txt-bubbl.png');
      @include size(363, 119);
      bottom: p2r(140);
      right: p2r(140);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      .info {
        @include bg('../img/page2/txt-res.png');
        @include size(224, 31);
      }
    }
  }
}

// 轮播的页面2
.page2 {
  background: #EE4143;
  .bg{
    @include size(592, 490);
    @include bgc('../img/page3/bg4_.png',592);
    bottom: p2r(330);
  }
  .bear{
    @include size(227, 336);
    margin-left: p2r(-227/2);
    background-image: url('../img/page3/bear2.png');
    background-repeat: no-repeat;
    background-position: p2r(-103) p2r(-96);
    background-size: p2r(368) p2r(427);
    position: absolute;
    left: 50%;
    bottom: p2r(310);
    z-index: 1;
    .face1{
      @include size(102, 102);
      @include bg('../img/page3/face1.png');
      top: 0;
      left: p2r(-102);
    }
    .face2{
      @include size(101, 102);
      @include bg('../img/page3/face2.png');
      top: p2r(-102);
      right: p2r(-101/2);
    }
    .hand1{
      @include size(74, 77);
      @include bg('../img/page3/hand-left_.png');
      top: p2r(180);
      left: p2r(30);
    }
    .hand2{
      @include size(74, 77);
      @include bg('../img/page3/hand-right.png');
      top: p2r(180);
      right: p2r(30);
    }
  }
  .table{
    @include size(514, 258);
    @include bgc('../img/page3/table.png',514);
    bottom: p2r(140);
    z-index: 1;
  }
  .foods{
    @include size(354, 152);
    @include bgc('../img/page3/foods.png',354);
    bottom: p2r(330);
    z-index: 1;
  }
  .sphere{
    @include size(640, 356);
    @include bgc('../img/page3/sphere2.png',640);
    bottom: 0;
  }
}

// 轮播的页面3
.page3 {
  background: #DD8A03;
  .bg{
    @include size(592, 580);
    @include bgc('../img/page4/bg5.png',592);
    bottom: p2r(300);
  }
  .bear{
    @include size(206, 321);
    @include bgc('../img/page4/bear3.png',206);
    bottom: p2r(195);
    z-index: 1;
  }
  .sphere{
    @include size(640, 356);
    @include bgc('../img/page4/sphere3.png',640);
    bottom: 0;
  }
  .license {
    @include bg('../img/page4/license.png');
    @include size(197,
      140);
    bottom: p2r(500);
    left: p2r(40);
  }
  .oil {
    @include bgc('../img/page4/oil.png',
      205);
    @include size(205,
      107);
    bottom: p2r(660);
  }
  .evil {
    @include bg('../img/page4/evil2.png');
    @include size(198,
      163);
    bottom: p2r(480);
    right: p2r(30);
  }

}

// 轮播的页面4
.page4 {
  background: #40A000;
  .bg{
    @include size(588, 333);
    @include bgc('../img/page5/bg6.png',588);
    bottom: p2r(300);
  }
  .bear{
    @include size(309, 325);
    @include bgc('../img/page5/bear4.png',309);
    bottom: p2r(170);
    z-index: 1;
  }
  .sphere{
    @include size(640, 356);
    @include bgc('../img/page5/sphere4.png',640);
    bottom: 0;
  }
  .card1{
    @include bg('../img/page5/card1.png');
    @include size(160, 175);
    left: p2r(32);
    bottom: p2r(435);
  }
  .card2{
    @include bg('../img/page5/card2.png');
    @include size(161, 209);
    bottom: p2r(530);
    left: p2r(240);
  }
  .card3{
    @include bg('../img/page5/card3.png');
    @include size(167, 184);
    bottom: p2r(420);
    right: p2r(45);
  }
}

// 轮播的页面5
.page5 {
  background: #0097D0;
  .bg{
    @include size(594, 493);
    @include bgc('../img/page6/bg7.png',594);
    bottom: p2r(300);
  }
  .bear{
    @include size(230, 390);
    @include bgc('../img/page6/rider2.png',230);
    bottom: p2r(175);
    z-index: 1;
  }
  .sphere{
    @include size(640, 356);
    @include bgc('../img/page6/sphere5.png',640);
    bottom: 0;
  }
  .clound{
    @include bgc('../img/page6/weather-cloud.png',432);
    @include size(432, 160);
    bottom: p2r(645);
  }

}

// 轮播的页面6
.page6 {
  background: #B527A0;
  .bg{
    @include size(588, 333);
    @include bgc('../img/page7/bg8.png',588);
    bottom: p2r(300);
  }
  .bear{
    @include size(285, 328);
    @include bgc('../img/page7/bear5.png',285);
    bottom: p2r(200);
    z-index: 1;
    .gift-box{
      position: absolute;
      top: 0;
      left: 50%;
         /*
            为了错开 熊腿 旋转的 角度 不能转满 360%
            350 / 12 =29
            */
            .gift1 {
              @include bgc('../img/page7/gift1.png',35);
              @include size(35, 29);
              transform: rotateZ(28deg) translateY(p2r(240));
            }
            .gift2 {
              @include bgc('../img/page7/gift2.png',93);
              @include size(93, 79);
              transform: rotateZ(28deg*2) translateY(p2r(240));
            }
            .gift3 {
              @include bgc('../img/page7/gift3.png',72);
              @include size(72, 64);
              transform: rotateZ(28deg*3) translateY(p2r(240));
            }
            .gift4 {
              @include bgc('../img/page7/gift4.png',91);
              @include size(91, 73);
              transform: rotateZ(28deg*4) translateY(p2r(240));
            }
            .gift5 {
              @include bgc('../img/page7/gift5.png',99);
              @include size(99, 65);
              transform: rotateZ(28deg*5) translateY(p2r(240));
            }
            .gift6 {
              @include bgc('../img/page7/gift6.png',107);
              @include size(107, 80);
              transform: rotateZ(28deg*6) translateY(p2r(240));
            }
            .gift7 {
              @include bgc('../img/page7/gift7.png',107);
              @include size(107, 80);
              transform: rotateZ(28deg*7) translateY(p2r(240));
            }
            .gift8 {
              @include bgc('../img/page7/gift8.png',88);
              @include size(88, 64);
              transform: rotateZ(28deg*8) translateY(p2r(240));
            }
            .gift9 {
              @include bgc('../img/page7/gift9.png',78);
              @include size(78, 50);
              transform: rotateZ(28deg*9) translateY(p2r(240));
            }
            .gift10 {
              @include bgc('../img/page7/gift10.png',49);
              @include size(49, 37);
              transform: rotateZ(28deg*10) translateY(p2r(240));
            }
            .gift11 {
              @include bgc('../img/page7/gift11.png',51);
              @include size(51, 31);
              transform: rotateZ(28deg*11) translateY(p2r(240));
            }
            .gift12 {
              @include bgc('../img/page7/gift12.png',37);
              @include size(37, 23);
              transform: rotateZ(28deg*12) translateY(p2r(240));
            }
          }
        }
        .sphere{
          @include size(640, 356);
          @include bgc('../img/page7/sphere6.png',640);
          bottom: 0;
        }
        .clound{
          @include bgc('../img/page7/weather-cloud.png',432);
          @include size(432, 160);
          bottom: p2r(645);
        }

      }

// 轮播的页面7
.page7 {
  background: #19072A;
  .streetlight{
    @include size(80, 443);
    @include bg('../img/page8/streetlight.png');
    left: p2r(240);
    bottom: p2r(300);
    .lamplight{
      position: absolute;
      @include size(437, 427);
      @include bg('../img/page8/lamplight.png');
      top: p2r(10);
      left: p2r(-140);
    }
  }
  .bear{
    @include size(276, 271);
    @include bgc('../img/page8/bear6.png',276);
    bottom: p2r(280);
    z-index: 1;
  }
  .sphere{
    @include size(640, 384);
    @include bgc('../img/page8/sphere7.png',640);
    bottom: 0;
  }
  .moto{
    @include size(200, 137);
    @include bg('../img/page8/moto.png');
    left:p2r(110);
    bottom: p2r(320);
  }
  .share{
    @include size(379, 113);
    @include bgc('../img/page8/share.png',379);
    bottom: p2r(140);
  }

}
